<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boot.set.test.sik4.mapper.Sik4Mapper">
	<select id="test" resultType="TestVO">
	SELECT * FROM search_tag
	</select>

	<select id="search" parameterType="list" resultType="TestVO">
		SELECT
			STORE_NAME, STORE_TAG, STORE_CATE, STORE_STAR, STORE_ADDR, STORE_SITE_URL, STORE_IMG
		FROM
			food_store
		WHERE
			<choose>
				<when test="list.size != 0">
					<foreach collection="list" item="item" separator="or">
						STORE_TAG LIKE concat('%', #{item}, '%')
					</foreach>
				</when>
				<otherwise>
					1=1
				</otherwise>
<!-- 				<otherwise> -->
<!-- 					STORE_TAG LIKE '%가까운%' or STORE_TAG LIKE '%아메리카노%' or STORE_TAG LIKE '%콜드브루%' or STORE_TAG LIKE '%맛집%' -->
<!-- 				</otherwise> -->
			</choose>
		ORDER BY LENGTH(STORE_TAG)
	</select>

	<insert id="insertStore" parameterType="TestVO">
		INSERT INTO food_store (STORE_NAME, STORE_TAG, STORE_CATE, STORE_STAR, STORE_ADDR, STORE_SITE_URL, STORE_IMG)
		VALUES (#{storeName}, #{storeTag}, #{storeCate}, #{storeStar}, #{storeAddr}, #{storeSiteUrl}, #{storeImg})
		<selectKey resultType="integer" keyProperty="storeSeq" order="AFTER">
	        SELECT LAST_INSERT_ID()
    	</selectKey>
	</insert>

	<insert id="insertStar" parameterType="TestVO">
		INSERT INTO food_store_star (
				STORE_SEQ
				, STORE_STAR
			<if test='regId!=null and !"".equals(regId)'>
				, REG_ID
				, REG_DT
			</if>
			<if test='review!=null and !"".equals(review)'>
				, REVIEW
			</if>
			)
		VALUES (
			#{storeSeq}
			, #{storeStar}
			<if test='regId!=null and !"".equals(regId)'>
				, #{regId}
				, sysdate
			</if>
			<if test='review!=null and !"".equals(review)'>
				, #{review}
			</if>
		)
	</insert>

	<insert id="insertTag" parameterType="String">
<!-- 		INSERT INTO search_tag(TAG_NAME) -->
<!-- 			SELECT #{tag} FROM DUAL -->
<!-- 			WHERE NOT EXISTS ( SELECT count(*) FROM search_tag WHERE TAG_NAME = #{tag})  -->
<!-- 		 INSERT INTO search_tag -->
<!-- 			SET TAG_NAME = #{tag} -->
			
<!-- 			ON DUPLICATE KEY UPDATE -->
<!-- 				TAG_NAME = #{tag} -->
			INSERT INTO search_tag(TAG_NAME) 
				SELECT 
					#{tag} 
				FROM 
					DUAL 
				WHERE 
					NOT EXISTS 
						(
							SELECT TAG_NAME FROM search_tag WHERE TAG_NAME = #{tag}
						)
	</insert>

</mapper>